//  DARK

$black: #232427;
$dim-black: #1a1a1a;
$white: #ffffff;
$primary: #6750a4;
$border-100: #656565;

//  SKY BLUE

$skyBlue: #79DAE8;
$dim-skyBlue: #9be3ee;
$textSky: #101113;
$borderSky: #f5f5f5;

//  NAVY BLUE 

$navyBlue: #151965;
$dim-navyBlue: #232772;
$textNavy: #DFF6FF;
$borderNavy: #f5f5f5;

//  SUNNY 

$sunny: #FD841F;
$dim-sunny: #ff9946;
$textSunny: #DFF6FF;
$borderSunny: #f5f5f5;