//  DARK

$black: #232427;
$dim-black: #1a1a1a;
$white: #ffffff;
$primary: #6750a4;
$border-100: #656565;

//  SKY BLUE

$skyBlue: #79dae8;
$dim-skyBlue: #9be3ee;
$textSky: #101113;
$borderSky: #f5f5f5;

//  NAVY BLUE

$navyBlue: #151965;
$dim-navyBlue: #232772;
$textNavy: #dff6ff;
$borderNavy: #f5f5f5;

//  SUNNY

$sunny: #fd841f;
$dim-sunny: #ff9946;
$textSunny: #dff6ff;
$borderSunny: #f5f5f5;

:export {
  primary: var(--primary);
}
