*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.pos-relative {
    position: relative !important;
}
.pos-absolute {
    position: absolute !important;
}
.fadeLess {
    color: #7c7c7c;
}
.fade {
    color: #929292;
}
.fadeMore {
    color: #b4b4b4;
}
.mb-30 {
    margin-bottom: 30px;
}
.star-icon {
    color: gold;
}
.italic {
    font-style: italic;
}
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
svg {
    box-sizing: content-box;
    cursor: pointer;
}
.dis-none {
    display: none;
}

