*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.pos-relative {
    position: relative !important;
}
.pos-absolute {
    position: absolute !important;
}
.fadeLess {
    color: #7c7c7c;
}
.fade {
    color: #929292;
}
.fadeMore {
    color: #b4b4b4;
}
.mb-30 {
    margin-bottom: 30px;
}
.star-icon {
    color: gold;
}
.italic {
    font-style: italic;
}
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
svg {
    box-sizing: content-box;
    cursor: pointer;
}
.dis-none {
    display: none;
}
.GG-10 {
    grid-gap: 10px;
}
.DisNone {
    display: none;
}
.DisBlock {
    display: block;
}
.primaryBtn {
    background-color: #6750a4;
    color: white;
    border: none;
}
.secondaryBtn {
    background-color: white;
    color: #6750a4;
    border: 1px solid #6750a4;
}
a {
    color: black;
}