@use '../layouts/colors';

.SearchDocket {
    .SD-FilterPanel {
        display: flex;
        justify-content: space-between;
        grid-gap: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
        padding: 0px 10px 15px 10px;
        .filterPanel {
            padding-top: 15px;
            display: flex;
            grid-gap: 10px;
        }
    }
    .SD-Table {
        overflow-y: scroll;
        height: 465px;
        scrollbar-color: black;
    }
    .SD-Table::-webkit-scrollbar {
        display: none;
    }
    
    svg {
        font-size: 18px;
    }
    .ant-pagination, .ant-table-pagination, .ant-table-pagination-right {
        display: none;
    }
    .ant-table-thead {
        tr {
            th {
                background-color: colors.$white;
            }
        }
    }
}