$bgcolor: #f0f0f0;

.sidebar-container {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.sidebar {
    height: 100%;
    padding-bottom: 36px;
    width: 4.2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s width;
    border-right: 2px solid #f0f0f0;
    position: relative;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.boxicon-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}

.boxicon {
    margin: 0.8rem;
    animation-iteration-count: 1;
    z-index: 2;
}

.boxicon-container, .expanded-boxicon-container {
    &:hover {
        .SidebarDotsIcon {
            display: block !important;
        }
    }   
}

.SidebarDotsIcon {
    display: none;
    position: absolute;
    right: 12px;
    top: 17px;
}

.first-and-last-trash-fix {
    margin: 0.8rem;
}

.active {
    // background-color: red;
}

.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 95%;
    background-color: #4e34753a;
    opacity: 1;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: -0.15rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.boxicon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 95%;
    background-color: #4e34753a;
    opacity: 0;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: -0.15rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.boxicon-container:hover > .boxicon::after {
    opacity: 1;
    transition: 0.1s;
}

// .sidebar>*:first-child {
//     margin-top: 1rem;
//     margin-bottom: 1rem;
// }

.sidebar > *:nth-last-child(2) {
    // margin-top: auto;
    margin-bottom: 2rem;
}

.final-icon {
    background-color: red;
}

.description {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    z-index: 10;
    // font-weight: bold;
    margin: 0;
    color: black;
    transition: 0.2s opacity;
}

.active-description {
    color: #3c1d6a;
}

.expanded {
    width: 13rem;
    align-items: flex-start;
}

.show-description {
    opacity: 1;
}

.container {
    display: flex;
}

.text {
    color: white;
    z-index: 100;
    margin: 0 auto;
    align-self: center;
    font-size: 32px;
}

@media screen and (max-height: 550px) {
    .boxicon {
        margin-left: 1.2rem;
    }

    .first-and-last-trash-fix {
        margin-left: 1.2rem;
    }
}

.InfoPanel {
    position: absolute;
    bottom: 0;
    width: 206px;
    padding: 10px 6px;
    grid-gap: 10px;
    background: white;
    z-index: 10;
    .panel-item {
        font-size: 10px;
        grid-gap: 4px;
        p {
            margin-bottom: 0;
        }
    }
}

.ant-menu-submenu-title {
    &:hover {
        color: black !important;
    }
}

.ant-menu-inline {
    border-right: none;
}
.ant-menu-submenu-title:active {
    background: none !important;
}
.sideBarSearchbar {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    .SideBar-top {
        position: relative;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        margin-bottom: 10px;
        svg {
            font-size: 20px;
            color: black;
        }
        input {
            border: none;
            outline: none;
            width: 100%;
            height: 40px;
        }
    }
    .addTaglet {
        cursor: pointer;
    }
}
.MuiBox-root, .css-1wnsr1i {
    border: none !important;
    border-radius: 8px;
}
.TagletModel {
    .TagletModelHead {
        justify-content: space-between !important;
        margin-bottom: 30px;
        h2 {
            margin-bottom: 0;
        }
        svg {
            font-size: 24px;
        }
    }
    .TagModelBox {
        margin-bottom: 15px;
        &:nth-last-child(2) {
            margin-bottom: 70px;
        }
        p {
            margin-bottom: 10px !important;
        }
        input {
            width: 100%;
        }
        .ant-select,
        .ant-select-single,
        .ant-select-show-arrow,
        .ant-select-show-search {
            width: 100%;
            border-radius: 6px;
        }
        .addAssetBtn {
            width: 100%;
            padding: 6px;
            background: white;
            color: #6750a4;
            border: 1px solid #6750a4;
            border-radius: 8px;
        }
    }
    .TagModalBtns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-gap: 10px;
        button {
            padding: 6px 15px;
            border-radius: 20px;
        }
    }
}
.MuiModal-root,
.css-79ws1d-MuiModal-root {
    .loginModal,
    .MuiBox-root,
    .css-1wnsr1i {
        span {
            color: rgb(206, 206, 206) !important;
        }
    }
}
